/* body{
    background: #ccc;
} */
header{
    background: #DCDCDC;
    padding: 20px;
}
.logo:hover{
    transform: rotate(90deg) scale(1.0)  ;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;

}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}
nav a:hover{
    color: rosybrown;
    text-decoration: underline;

}
nav ul li{
    padding: 2px 10px;
    display: inline-block;
}
#banner{
    width: 50%;
    height: 500px;
    margin-left: 470px;
    padding: 15px;
}

.principal{
    background: #ccc;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
} 

p{
    text-align: center;
}

#missao{
    font-size: 16px;
}

em strong{
    color: red;
}
.itens{
    font-style: italic;
}
.beneficos{
    background: #fff;
    padding: 20px;
}   

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    
}
.imgbenefi{
    width: 30%;
    height: 300px;
}

/* @media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static; 
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
} */